<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="concep.Properties.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="concep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <concep.Properties.GlobalSettings>
            <setting name="index" serializeAs="String">
                <value>1</value>
            </setting>
        </concep.Properties.GlobalSettings>
        <concep.Properties.Settings>
            <setting name="concepMainFormText" serializeAs="String">
                <value>CONCEP V 3.5 - Series 13 (07/2012  Build)</value>
            </setting>
            <setting name="assignLuduHsTypeYear" serializeAs="String">
                <value>2010</value>
            </setting>
            <setting name="spRunAssignLuduHsType" serializeAs="String">
                <value>EXECUTE sp_assign_ludu_hs_type @estimates_year</value>
            </setting>
            <setting name="controlGqMainButtonText" serializeAs="String">
                <value>Allocate 2010 Census (SR13)

</value>
            </setting>
            <setting name="controlVitalsMainButtonText" serializeAs="String">
                <value>Income Calibration</value>
            </setting>
            <setting name="controlVitalsRunButtonText" serializeAs="String">
                <value>Run</value>
            </setting>
            <setting name="estimatesYearComboItems" serializeAs="String">
                <value>2011,2012,2013,2014,2015</value>
            </setting>
            <setting name="estIncPriceIndex" serializeAs="String">
                <value></value>
            </setting>
            <setting name="concepSqlConnectionString" serializeAs="String">
                <value>Data Source=PILA\SDGINTDB;Initial Catalog=concep_test;User ID=concep_app;Password=c0nc3p_@pp</value>
            </setting>
        </concep.Properties.Settings>
    </applicationSettings>
</configuration>