<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- ControlGQ settings -->

    <!-- Global Constants-->
    
    <add key ="MAX_ASE" value ="1616"/>    <!-- age * eth * sex  101 * 8 * 2-->
    <add key ="MAX_ASE5" value ="320"/>    <!-- 5 - year age * eth * sex  20 * 8 * 2-->
    <add key ="MAX_CENSUS_DATA_RECORDS" value ="30000"/>    <!-- max number of census block data records-->
    <add key ="MAX_CITIES" value = "20"/>    <!-- number of cities, 1 based (1-19)-->

    <add key ="MAX_CONTROL_CTS" value ="52"/>    <!-- max number of CTS to be controlled in detailed pop allocation -->
    <add key ="MAX_CTS_IN_SRA" value="41"/>    
    <add key ="MAX_ELEM" value ="716"/>    <!-- don't remember why this is so high - used in pasee-->
    <add key ="MAXGQRECORDS" value="1186"/>    <!--max number of lckey records by city in GQ lckey file -->
    <add key ="MAX_LCKEYS_IN_CITYCTBG" value ="7349"/>    <!--maximum number of lckeys in any cityctbg grouping-->
    <add key ="MAX_LCKEYS_IN_CTBG" value ="4612"/>    <!--maximum number of lckeys in any ctbg -->

    <add key ="MAX_LCKEYS_IN_MGRA" value ="910"/>    <!--maximum number of lckey in any mgra-->
    <add key ="MAX_MGRAS_IN_CITY" value = "7920"/>    <!-- max number of mgras in any city -->
    <add key ="MAX_MGRAS_IN_CTS" value = "474"/>    <!-- max number of mgras in any zip -->
    <add key ="MAX_MGRAS_IN_SG" value ="166"/>    <!-- max number of mgras in any Supergroup -->
    <add key ="MAX_MGRAS_IN_SUPERSPLITS" value = "474"/>    <!--max number of MGRAs in any supersplit-->
    <add key ="MAX_MGRAS_IN_ZIP" value = "697"/>    <!-- max number of mgras in any zip -->
    <add key ="MAX_POPEST_EXCEPTIONS" value = "25"/>
    <add key ="NUM_AGE" value = "101"/>    <!-- number of SYA age groups -->
    <add key ="NUM_AGE5" value ="20"/>    <!-- number of 5-year age groups-->
    <add key ="NUM_CITIES" value = "19"/>    <!-- number of cities -->
    <add key ="NUM_CITYCTBG" value ="781"/>    <!-- number of distinct city ct bg with census gq data -->
    <add key ="NUM_CTBG" value ="803"/>    <!-- number of distinct ct bg with gq in census data-->
    <add key ="NUM_CTS" value = "627"/>    <!-- number of CTs -->

    <add key ="NUM_ETH" value = "9"/>    <!-- number of ethnic groups - 0 stores total -->
    <add key ="NUM_HHWORKERS" value="4"/>
    <add key ="NUM_HHXS" value ="7"/>
    <add key ="NUM_INCOME_GROUPS" value ="10"/>
    <add key ="NUM_MGRAS" value = "23002"/>    <!-- number of mgras -->
    <add key ="NUM_MSA" value="7"/>
    <add key ="NUM_SEX" value = "3"/>    <!-- number of sex groups - 0 stores total -->
    <add key ="NUM_SG" value ="1856"/>    <!-- number of supergroups (city, ct10 block group combinations -->

    <add key ="NUM_SPLIT_TRACTS" value = "775"/>    <!-- number of split tracts (city, ct) -->
    <add key ="NUM_SRA" value="41"/>
    <add key ="NUM_SUPERSPLITS" value ="755"/>    <!-- number of super splits (combined split tracts) -->
    <add key ="NUM_ZIP" value ="113"/>
    <add key ="V_HS_RATE" value = "25"/>
    <add key ="V_POP_RATE" value = "25"/>

    <!-- I/O Tables -->
    <add key ="age5Lookup" value ="age_age5_lookup"/>
    <add key ="basePopCT" value="detailed_pop_ct"/>
    <add key ="basePopMGRA" value="detailed_pop_tab_mgra"/>
    <add key ="baseYearIncome" value ="income_2010"/>
    <add key ="birthsCT" value="births_ct"/>
    <add key ="birthsMGRA" value="births_mgra"/>
    <add key ="birthsZIP" value="births_zip"/>
    <add key ="census_detailed_pop_tab_ct" value ="census.dbo.census_detailed_pop_tab_ct"/>
    <add key ="census_detailed_pop_control_ct" value ="census.dbo.census_2010_detailed_pop_control_ct"/>
    <add key ="census_gq_ctbg" value ="census.dbo.census_gq_ctbg"/>
    <add key ="census_gq_cityctbg" value ="census.dbo.census_gq_cityctbg"/>
    <add key ="census_gq_lckey" value ="census.dbo.census_gq_lckey"/>
    <add key ="census_2010_mgra_revised_agegroups" value ="census.dbo.census_2010_mgra_revised_agegroups"/>
    <add key ="census_hhwc_input" value="census.dbo.census_2010_hhwc_blockadjusted"/>
    <add key ="census_input" value="census.dbo.census_2010_sf1_blockadjusted"/>
    <add key ="census_mgra" value="census.dbo.census_2010_mgra"/>
    <add key ="census_mgra_pop" value="census.dbo.census_2010_detailed_pop_mgra_tab"/>
    <add key ="census_2010_supersplit" value="census.dbo.census_2010_supersplit"/>
    <add key ="census_2010_partialsupersplit" value="census.dbo.census_2010_partialsupersplit"/>
    <add key ="ctblock_mgra_manyto1" value="census.dbo.xref_ct10block_mgra_manyto1"/>
    <add key ="ct10Kids" value ="census2010_ct_kids_hh"/>
    <add key ="deathsCT" value="deaths_ct"/>
    <add key ="detailedPopTabCT" value ="detailed_pop_tab_ct"/>
    <add key ="distributionHHWorkersRegion" value ="distribution_popest_HHworkers_region"/>
    <add key ="distributionHHWOC" value ="distribution_popest_HH_wo_children_ct"/>
    <add key ="errorFactorsHHSCT" value ="error_factors_popest_HHS_ct"/>
    <add key ="gq_lu_priority" value ="census.dbo.gq_lu_priority"/>
    <add key ="GQControlled" value="gq_by_lckey_controlled"/>
    <add key ="GQRaw" value ="gq_by_lckey_raw"/>
    <add key ="HSFromlandcore" value ="HS_from_landcore"/>
    <add key ="incomeAdj" value="adjustments_income_model"/>
    <add key ="incomeCalibrationParms" value ="calibration_parameters_income_model"/>
    <add key ="incomeEstimates" value ="income_estimates"/>
    <add key ="incomeEstimatesMGRA" value ="income_estimates_mgra"/>
    <add key ="incomeParms" value ="operational_parameters_income_model"/>
    <add key ="spPopulateCTTab" value ="sp_populate_ct_tab_table"/>
    <add key ="spPaseeUpdate0" value="sp_add_detailed_pop_total"/>
    
    <add key ="migrationDistribution" value ="migration_distribution"/>
    <add key ="migrationRates" value ="migration_rates"/>
    <add key ="mil_dep_pct" value="pop_mil_dep_pct"/>
    <add key ="mil_pct" value ="pop_mil_pct"/>
    <add key ="overridesHHSDetail" value ="overrides_popest_HHSdetail"/>
    <add key ="paseeUpdateCT" value ="pasee_update_ct"/>
    <add key ="popEstimatesCT" value ="detailed_pop_ct"/>
    <add key ="popEstimatesTabCT" value ="detailed_pop_tab_ct"/>
    <add key ="popEstimatesTabMGRA" value ="detailed_pop_tab_mgra"/>
    <add key ="popestControls" value ="controls_popest_city"/>
    <add key ="popestControlsHHRegion" value ="controls_popest_HH_region"/>
    <add key ="popestHHDetailMGRA" value ="popest_HHdetail_mgra"/>
    <add key ="popestHHDetailTabCT" value ="popest_HHdetail_ct"/>
    <add key ="popestHHSOvr" value="overrides_popest_HHS_mgra"/>
    <add key ="popestMGRA" value="popest_mgra"/>
    <add key ="popestUpdate" value ="popest_update"/>
    <add key ="popestVacOvr" value="overrides_popest_vacancy_mgra"/>
    <add key ="specialPopTracts" value ="pasee_special_pop_tracts"/>
    <add key ="startingGQ" value ="census.dbo.starting_gq"/>
    <add key ="survivalRates" value="survival_rates"/>
    <add key ="survivalRatesROC" value="survival_rates_roc"/>
    <add key ="vitalsControl" value="controls_births_deaths"/>
    <add key ="wilma" value ="wilma"/>
    <add key ="xref" value="vi_xref_geography_mgra_13"/>

    <!-- ascii output files -->
    <add key ="networkPath" value ="\\hana\home\shared\res\estimates &amp; forecast\concep\temp\"/>

    <!-- ControlVitals files-->
    <add key ="badZIPBD" value ="badZIPBD.txt"/>
    <add key ="birthsCTFile" value ="birthsCT.txt"/>
    <add key ="deathsCTFile" value ="deathsCT.txt"/>
    <add key ="birthsMGRAFile" value ="birthsMGRA.txt"/>

    <!-- IncomeCalib files-->
    <add key ="iout" value ="iout.txt"/>
    <add key ="aout" value ="aout.txt"/>

    <!-- POPEST files -->
    <add key ="pmgra_out" value ="pmgra_out.txt"/>

    <!-- ESTINC files-->
    <add key="reg_out" value ="reg_out.txt"/>
    <add key ="sra_out" value ="sra_out.txt"/>
    <add key="mgra_out" value ="mgra_out.txt"/>
    <add key ="mgra_ascii" value ="mgra_ascii.txt"/>
    <add key ="sra_ascii" value ="sra_ascii.txt"/>
    <add key ="ct_out" value ="ct_out.txt"/>
    <add key ="ct_ascii" value ="ct_ascii.txt"/>

    <!-- Census 2010 Files-->
    <add key ="censusMGRATemp" value ="census_mgra_temp.txt"/>
    <add key ="censusDetailedPopTemp" value ="census_detailed_pop_temp"/>

    <!-- Queries -->

    <!-- ControlGQ Queries-->
    <add key ="selectControlGQ1" value ="Select city, gq_civ_college,gq_civ_other from {0} where estimates_year = {1}"/>
    <add key ="selectControlGQ2" value="Select x.jurisdiction_2010 as city,lckey,lu,g.mgra,gq,gq_civ,gq_mil,gq_civ_college,gq_civ_other from {0} g, {1} x
                                    where x.mgra_13 = g.mgra and estimates_year = {2} order by x.jurisdiction_2010,gq desc"/>
    <!-- ControlVitals Queries-->

    <add key ="deleteControlVitals1" value="DELETE FROM {0} WHERE {1} = {2}"/>
    <add key ="insertControlVitals1" value ="insert into {0} select {3} ,x.tract_2010,ethnicity,sex,sum(births) from {1} x, {2} c where birth_year = 
                                          {3} and x.mgra_13 = c.mgra group by x.tract_2010,ethnicity,sex"/>

    <add key ="selectControlVitals1" value ="SELECT b.ethnicity, b.sex, b.age, SUM(b.pop) AS sumPop, s.rate, r.roc FROM {0} s, {1} r, {2} b 
                                         where s.ethnicity = r.ethnicity AND s.ethnicity = b.ethnicity and s.sex = r.sex AND s.sex = b.sex and 
                                         s.age = r.age and s.age = b.age AND b.estimates_year = {3} GROUP BY b.ethnicity, b.sex, b.age, s.rate, r.roc ORDER BY b.ethnicity, b.sex, b.age"/>

    <add key ="selectControlVitals2" value="select zip_2010 from {0} group by zip_2010 order by zip_2010"/>
    <add key ="selectControlVitals3" value="select zip, births, hm, nhwm, nhbm, nhim, nham, nhhm, nhom,nh2m, tm, hf, nhwf, nhbf, nhif, nhaf, nhhf, nhof, nh2f, tf from {0}
                                           where birth_year = {1} order by zip"/>

    <add key ="selectControlVitals4" value="select mgra_13,zip_2010 from {0} group by zip_2010, mgra_13 order by zip_2010, mgra_13"/>
    <add key ="selectControlVitals5" value ="SELECT mgra, ethnicity, popf_18to19+popf_20to24+popf_25to29+popf_30to34+popf_35to39 FROM {0} WHERE estimates_year = {1} and ethnicity &gt; 0"/>
    <add key ="selectControlVitals6" value ="SELECT ct10, ethnicity, sex, age, pop FROM {0} WHERE estimates_year = {1}"/>
    <add key ="selectControlVitals7" value ="SELECT ethnicity, sex, age, SUM(pop) from {0} where estimates_year = {1} and pop &gt; 0 GROUP BY ethnicity, sex, age ORDER BY ethnicity, sex, age"/>
    <add key ="selectControlVitals8" value="SELECT eth, dcm, dcf FROM {0} WHERE birth_death_year = {1}"/>

    <!-- IncomeCalib Queries-->
    <add key="deleteIncomeCalib1" value ="delete from {0} where geo_type = {1}"/>

    <add key ="selectIncomeCalib1" value ="select * from {0} where geo_type = {1}"/>

    <!-- POPEST Queries-->
    <add key ="selectPOPEST1" value ="Select city,hs,hs_sf,hs_sfmu,hs_mf,hs_mh,hh,hh_sf,hh_sfmu,hh_mf,hh_mh,hhp,gq,gq_civ,gq_mil,gq_civ_college,
                                     gq_civ_other,vac_sf,vac_sfmu,vac_mf,vac_mh,hhs from {0} where estimates_year = {1} order by city"/>

    <add key ="selectPOPEST2" value="select t.mgra, x.city, SUM(hs_sf), SUM(hs_sfmu), SUM(hs_mf), SUM(hs_mh) from {0} t, {1} x 
                                     where t.estimates_year = {2} AND t.mgra = x.mgra GROUP BY t.mgra, x.city"/>

    <add key="selectPOPEST3" value ="select p.mgra, p.cityct10, p.city, p.ct10, p.hs, p.hs_sf, p.hs_sfmu, p.hs_mf, p.hs_mh, p.gq, p.gq_civ, 
                                    p.gq_mil, p.gq_civ_college, p.gq_civ_other,p.hhp, p.hh, p.hh_sf, p.hh_sfmu, p.hh_mf, p.hh_mh, po.hs,  
                                    p.vac_sf, p.vac_sfmu, p.vac_mf, p.vac_mh, p.vac, p.hhs from {0} p, {0} po where p.estimates_year = {1} AND po.estimates_year = {2}
                                    AND p.mgra = po.mgra"/>

    <add key ="insertPOPEST1" value="insert into {0} select {1} , mgra, cityct10, city, ct10, pop, hhp, gq, gq_civ, gq_mil, gq_civ_college,gq_civ_other,
                                  hs, hs_sf, hs_sfmu, hs_mf, hs_mh, hh, hh_sf, hh_sfmu, hh_mf, hh_mh, vac, vac_sf, vac_sfmu, vac_mf, vac_mh, hhs from {0} 
                                  WHERE estimates_year = {2}"/>

    <add key ="updatePOPEST1" value="UPDATE {0} SET hs = {1} ,hs_sf = {2} ,hs_sfmu = {3} ,hs_mf = {4}, hs_mh = {5} WHERE estimates_year = {6} AND mgra = {7}"/>

    <add key="updatePOPEST2" value ="update {0} set pop = p2.pop, hhp = p2.hhp, gq = p2.gq, gq_civ = p2.gq_civ,
                                     hs = p2.hs, hs_sf = p2.hs_sf, hs_sfmu = p2.hs_sfmu, hs_mf = p2.hs_mf, hs_mh = p2.hs_mh,
                                     hh = p2.hh, hh_sf = p2.hh_sf, hh_sfmu = p2.hh_sfmu, hh_mf = p2.hh_mf, hh_mh = p2.hh_mh, 
                                     gq_civ_college = p2.gq_civ_college, gq_civ_other = p2.gq_civ_other  from {0} p, {1} p2 
                                     where p.estimates_year = {2} and p.mgra = p2.mgra"/>

    <add key ="updatePOPEST3" value="update {0} set {1} where estimates_year = {2}"/>
    <add key ="updatePOPEST4" value ="update {0} set {1} where estimates_year = {2} and {3}"/>

    <add key ="updatePOPEST5" value ="WITH g as (select mgra, sum(gq_civ) as gq_civ, sum(gq_mil) as gq_mil, sum(gq_civ_college) as 
                                gq_civ_college, sum(gq_civ_other) as gq_civ_other FROM {1} where estimates_year = {2} group by mgra) 
                                UPDATE {0} SET gq_civ = g.gq_civ, gq_civ_college = g.gq_civ_college, gq_civ_other = g.gq_civ_other, 
                                gq_mil = g.gq_mil FROM {0} p, g WHERE p.mgra = g.mgra AND p.estimates_year = {2}"/>

    <add key ="updatePOPEST6" value ="update {0} set gq = gq_mil + gq_civ where estimates_year = {1}"/>
    <add key ="updatePOPEST7" value="update {0} set hhs = o.hhs_override from {0} p, {1} o where p.mgra = o.mgra and p.estimates_year = {2}"/>
    <add key ="updatePOPEST8" value="update {0} set vac_sf = o.vac_sf_override from {0} p, {1} o where o.vac_sf_override &gt; 0 and p.mgra = o.mgra and p.estimates_year = {2}"/>
    <add key ="updatePOPEST9" value="update {0} set vac_sfmu = o.vac_sfmu_override from {0} p, {1} o where o.vac_sfmu_override &gt; 0 and p.mgra = o.mgra and p.estimates_year = {2}"/>
    <add key ="updatePOPEST10" value="update {0} set vac_mf = o.vac_mf_override from {0} p, {1} o where o.vac_mf_override &gt; 0 and p.mgra = o.mgra and p.estimates_year = {2}"/>
    <add key ="updatePOPEST11" value ="update {0} set gq_civ = 0, gq_mil = 0 , gq_civ_college = 0,gq_civ_other = 0 WHERE estimates_year = {1}"/>

    <!-- ESTINC Queries -->

    <add key ="selectESTINC1" value="select sum(hh) from {0} where estimates_year = {1}"/>
    <add key ="selectESTINC2" value ="select x.ct10,sum(hh) from {0} p, {1} x where p.estimates_year = {2} and x.mgra = p.mgra and x.sra = {3} group by x.ct10"/>
    <add key ="selectESTINC3" value ="select x.sra,sum(hh) from {0} p, {1} x where p.estimates_year = {2} and x.mgra = p.mgra group by x.sra"/>
    <add key ="selectESTINC4" value ="select * from {0} where estimates_year = {1} and geo_type = {2}"/>
    <add key ="selectESTINC5" value ="select * from {0} {1} "/>
    <add key ="selectESTINC6" value="select geo_type, id, i1, i2, i3, i4, i5, i6, i7, i8, i9, i10 from {0} where estimates_year = {1} {2}"/>
    <add key ="selectESTINC7" value ="select id, i1, i2, i3, i4, i5, i6, i7, i8, i9, i10, hh, median from {0} where estimates_year = {1} and geo_type = 2"/>
    <add key ="selectESTINC8" value ="SELECT mgra, i1, i2, i3, i4, i5, i6, i7, i8, i9, i10 FROM {0} WHERE estimates_year = {1} ORDER BY mgra"/>
    <add key ="selectESTINC9" value ="select id, i1, i2, i3, i4, i5, i6, i7, i8, i9, i10 from {0} where estimates_year = {1} and geo_type = 11"/>
    <add key ="selectESTINC10" value="select geo_id,parameter_type,parameter from {0} where estimates_year = {1} {2}"/>
    <add key ="selectESTINC11" value="select parameter_type, parameter from {0} where estimates_year = {1} and geo_type = 4 and geo_id = 999"/>
    <add key ="selectESTINC12" value="select geo_id,parameter_type,parameter from {0} where estimates_year = {1} and geo_type = 2"/>
    <add key ="selectESTINC13" value ="select distinct ct10 from {0} where estimates_year = {1} order by ct10"/>
    <add key ="selectESTINC14" value ="select x.ct10, p.mgra, p.hh from {0} p, {1} x where p.estimates_year = {2} and x.mgra = p.mgra order by p.mgra"/>

    <!-- PASEE Queries -->
    <add key ="selectPASEE1" value ="select distinct sra,ct10 from {0} order by ct10"/>
    <add key ="selectPASEE2" value ="SELECT COUNT(*) FROM {0}"/>
    <add key ="selectPASEE3" value ="select sra,ct10,ethnicity,sex,age,pop from {0} where estimates_year = {1} and ethnicity &gt; 0 and pop &gt; 0"/>
    <add key ="selectPASEE4" value ="select x.sra,x.ct10,sum(pop),sum(hhp),sum(gq_mil) from {0} p, {1} x where estimates_year = {2} and p.mgra = x.mgra group by x.sra,x.ct10"/>
    <add key ="selectPASEE5" value ="select ct10,ethnicity,sex,age5,pop from {0} a, {1} a5 where estimates_year = {2} AND a.age = a5.age"/>
    <add key ="selectPASEE6" value ="select ct10,mgra,pop from {0} WHERE estimates_year = {1}"/>
    <add key ="selectPASEE7" value ="select ct10,ethnicity,sex,sum(births) from {0} where birth_year = {1} group by ct10,ethnicity,sex"/>
    <add key ="selectPASEE8" value ="select ct10,ethnicity,sex,age,deaths from {0} where death_year = {1}"/>
    <add key ="updatePASEE1" value ="update {0} set pop_0to4 = popm_0to4 + popf_0to4, pop_5to9 = popm_5to9 + popf_5to9,pop_10to14 = popm_10to14 + popf_10to14,
                                     pop_15to17 = popm_15to17 + popf_15to17,pop_18to19 = popm_18to19 + popf_18to19,pop_20to24 = popm_20to24 + popf_20to24,
                                     pop_25to29 = popm_25to29 + popf_25to29,pop_30to34 = popm_30to34 + popf_30to34,pop_35to39 = popm_35to39 + popf_35to39,
                                     pop_40to44 = popm_40to44 + popf_40to44,pop_45to49 = popm_45to49 + popf_45to49,pop_50to54 = popm_50to54 + popf_50to54,
                                     pop_55to59 = popm_55to59 + popf_55to59,pop_60to61 = popm_60to61 + popf_60to61,pop_62to64 = popm_62to64 + popf_62to64,
                                     pop_65to69 = popm_65to69 + popf_65to69,pop_70to74 = popm_70to74 + popf_70to74,pop_75to79 = popm_75to79 + popf_75to79,
                                     pop_80to84 = popm_80to84 + popf_80to84,pop_85plus = popm_85plus + popf_85plus where estimates_year = {1}"/>

    <add key ="updatePASEE2" value ="update {0} set popm = (popm_0to4 + popm_5to9 + popm_10to14 + popm_15to17 + popm_18to19 + popm_20to24 + popm_25to29 + 
                                     popm_30to34 + popm_35to39 + popm_40to44 + popm_45to49 + popm_50to54 + popm_55to59 + popm_60to61 + popm_62to64 + 
                                     popm_65to69 + popm_70to74 + popm_75to79 + popm_80to84 + popm_85plus), popf = (popf_0to4 + popf_5to9 + popf_10to14 + popf_15to17 + 
                                     popf_18to19 + popf_20to24 + popf_25to29 + popf_30to34 + popf_35to39 + popf_40to44 + popf_45to49 + popf_50to54 + popf_55to59 + 
                                     popf_60to61 + popf_62to64 + popf_65to69 + popf_70to74 + popf_75to79 + popf_80to84 + popf_85plus) where estimates_year = {1}"/>

    <add key ="updatePASEE3" value ="update {0} set pop = popm + popf where estimates_year = {1}"/>

    <!-- Census 2010 Queries -->
    <add key ="selectCensus1" value ="select x.mgra,x.{2},sum(hs) from {0} x, {1} l where l.mgra = x.mgra and x.{2} &gt; 0 group by x.mgra,x.{2} order by x.mgra"/>
    <add key ="selectCensus2" value ="select {1},gq,coll,mil,other from {0} order by {1}"/>
    <add key ="selectCensus3" value ="select distinct ct10,block,ct10block from {0} order by ct10block"/>
    <add key ="selectCensus4" value ="select distinct mgra,ct10 from {0} order by mgra"/>
    <add key ="selectCensus5" value="select distinct mgra,{1} from {0} where {1} &gt; 0 order by mgra"/>
    <add key ="selectCensus6" value ="select * from {0} where {1} &gt; 0 and (pop + hs &gt; 0 or hs &gt; 0)"/>
    <add key ="selectCensus7" value ="select ct10block,{1},hhwc,hhwoc from {0}"/>
    <add key ="selectCensus8" value="select {2} ,lckey,c.lu,c.mgra,c.acres,c.gq,civcollege,mil,other from {0} c, {1} p where c.lu = p.lu order by {2}"/>
    <add key ="selectCensus9" value ="select ct10block,mgra from {0} order by ct10block"/>

    <!-- PDHH Queries -->
    <add key ="selectPDHH1" value ="select sum(hh),sum(hhp) from {0} where estimates_year = {1}"/>
    <add key ="selectPDHH2" value ="Select x.ct10,sum(hh),sum(hhp) from {0} m, {1} x where x.mgra = m.mgra and estimates_year = {2} group by x.ct10 order by x.ct10"/>
    <add key ="selectPDHH3" value ="Select * from {0} where estimates_year = {1} order by ct10"/>
    <add key ="selectPDHH4" value ="select * from {0} order by ct10"/>
    <add key ="selectPDHH5" value ="Select ct10,pop_0to4+pop_5to9+pop_10to14+pop_15to17 from {0} where ethnicity = 0 and estimates_year = {1} order by ct10"/>
    <add key ="selectPDHH6" value ="select x.mgra,hh,hhp,hhs from {0} p, {1} x where x.ct10 = {2} and x.mgra = p.mgra and p.estimates_year = {3}"/>

    <!-- generic queries used by multiple modules-->
    <add key ="deleteFrom" value="delete from {0} where estimates_year = {1}"/>
    <add key ="insertInto" value ="insert into {0} {1}"/>
    <add key ="bulkInsert" value ="BULK INSERT {0} FROM '{1}' WITH (FIELDTERMINATOR = ',',firstrow = 1)"/>
    <add key ="truncate" value ="truncate table {0}"/>
    <add key ="selectAll" value="select * from {0}"/>
    <add key ="selectAllWhere" value ="select * from {0} where estimates_year = {1}"/>
    <add key ="selectCT" value ="SELECT tract_2010 FROM {0} group by tract_2010 order by tract_2010"/>
    <add key ="selectCountWhere" value ="select count(*) from {0} where estimates_year = {1}"/>

  </appSettings>
  <connectionStrings configSource="connections.config">
  </connectionStrings>
</configuration>