/****** Script for SelectTopNRows command from SSMS  ******/
truncate table popsyn.dbo.popsyn_hh_detail_mgra_2005;
insert into popsyn.dbo.popsyn_hh_detail_mgra_2005
SELECT  [estimates_year]
      ,[mgra]
      ,[pop]
      ,[hhp]
      ,[gq]
      ,[gq_civ]
      ,[gq_civ_college]
      ,[gq_civ_other]
      ,[gq_mil]
      ,[hs]
      ,[hs_sf]
      ,[hs_mf]
      ,[hs_mh]
      ,[hh]
      ,[hh_sf]
      ,[hh_mf]
      ,[hh_mh]
      ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
      ,[i1]
      ,[i2]
      ,[i3]
      ,[i4]
      ,[i5]
      ,[i6]
      ,[i7]
      ,[i8]
      ,[i9]
      ,[i10]
      ,[hhs1]
      ,[hhs2]
      ,[hhs3]
      ,[hhs4]
      ,[hhs5]
      ,[hhs6]
      ,[hhs7]
      ,[hhs]
      ,[hhwoc]
      ,[hhwc]
      ,[hhworkers0]
      ,[hhworkers1]
      ,[hhworkers2]
      ,[hhworkers3]
      ,0,0,0,0,0
  FROM [concep_for_2005].[dbo].[popsyn_2005];
  
  truncate table popsyn.dbo.popsyn_hh_detail_mgra_2008;
insert into popsyn.dbo.popsyn_hh_detail_mgra_2008
SELECT  [estimates_year]
      ,[mgra]
      ,[pop]
      ,[hhp]
      ,[gq]
      ,[gq_civ]
      ,[gq_civ_college]
      ,[gq_civ_other]
      ,[gq_mil]
      ,[hs]
      ,[hs_sf]
      ,[hs_mf]
      ,[hs_mh]
      ,[hh]
      ,[hh_sf]
      ,[hh_mf]
      ,[hh_mh]
      ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
      ,[i1]
      ,[i2]
      ,[i3]
      ,[i4]
      ,[i5]
      ,[i6]
      ,[i7]
      ,[i8]
      ,[i9]
      ,[i10]
      ,[hhs1]
      ,[hhs2]
      ,[hhs3]
      ,[hhs4]
      ,[hhs5]
      ,[hhs6]
      ,[hhs7]
      ,[hhs]
      ,[hhwoc]
      ,[hhwc]
      ,[hhworkers0]
      ,[hhworkers1]
      ,[hhworkers2]
      ,[hhworkers3]
      ,0,0,0,0,0
  FROM [concep_for_2005].[dbo].[popsyn_2008]